/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #4659E2;
  position: fixed;
  z-index: 9999; /* appear above everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #4659E2, 0 0 5px #4659E2;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
} 